.container-logos {
    position: fixed;
    top: 0%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 3.5rem;
    height: auto;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-image: url(../assets/imagem-abstrata-de-cima-de-uma-onda-brilhante-de-agua-do-mar-azul-e-limpida-sobre-uma-praia-arenosa-para-um-lindo-plano-de-fundo-do-verao_160204-3189.webp);
}

.logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.9rem;
    width: 100%;
    min-height: 100%;
    height: auto;
    padding-right: 10px;
}

.logo-name-project {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
    height: 100%;
    padding-left: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
}

.strong-one {
    color: green;
    font-weight: 900;
    font-size: 2rem;
}

.strong-two {
    color: green;
    font-weight: 900;
    font-size: 2rem;
    margin-left: 0.4rem;
}

.logos-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.6rem;
    width: 70%;
    height: 100%;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    color: white;
}

#ring-bell {
    display: none;
}

.ring-bell {
    height: 70%;
    border-radius: 1rem;
    color: black;
    background-color: #F5DF4D;
}

.ring-bell:hover {
    height: 70%;
    border-radius: 1rem;
    color: black;
    background-color: #F5DF4D;
    animation: shows 1s;
}

.links:hover {
    text-transform: uppercase;
    font-weight: 800;
    font-family: cursive;
    border-bottom: 5px solid green;
    background-color: #333300;
    color: green;
    height: 5rem;
    animation: shows 0.7s;
}

.logos-icons-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10%;
    height: 100%;
}

.icons-of-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32%;
    height: 90%;
}

.icons-of {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 7rem;
    height: 6rem;

    top: 5rem;
    padding: 5px;
    border-radius: 15px;
    background-color: #B55A30;
}

.icon-one {
    color: white !important;
}

.icon-two {
    color: black;
}

.icon-three {
    color: darkgreen;
}

.fundo-default {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    border-bottom: 1px solid rgb(197, 197, 197);
}

.one {
    order: 1;
}

.menu {
    display: none;
}




































































@media only screen and (max-width: 800px) {
    .logo-name-project {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 60%;
        height: 100%;
        padding-left: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 900;
    }

    .strong-one {
        color: green;
        font-weight: 900;
        font-size: 2rem;
    }

    .strong-two {
        color: green;
        font-weight: 900;
        font-size: 2rem;
        margin-left: 0.4rem;
    }

    .logos-links {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 3.6rem;
        right: 3rem;
        gap: 10px;

        width: 15rem;
        height: 20rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        animation: showsy 1s;
    }

    .links {
        width: 100%;
        height: 15%;
        border: 1px solid rgb(162, 162, 162);
        background-image: var(--fundo_legal);
        background-size: cover;
    }

    .logos-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #ring-bell {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6px;
        padding-right: 25px;
        width: 100%;
        height: 4rem;
        font-size: 20px;
        background-color: #7a297a;
        left: 0;
        top: 0;

    }

    .ring-bell {
        height: 3rem;
        border-radius: 1rem;
        color: black;
        background-color: #F5DF4D;
    }

    .logos-icons-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 40%;
    }

    .icons-of-logos {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32%;
        height: 90%;
    }

    .icons-of {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        width: 7rem;
        height: 6rem;
        top: 5rem;
        padding: 5px;
        border-radius: 15px;
        background-color: #B55A30;
        animation: showicons 1s
    }

    .icon-one {
        color: white !important;
    }

    .icon-two {
        color: black;
    }

    .icon-three {
        color: darkgreen;
    }

    .fundo-default {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 9px;
        color: white;
        border-bottom: 1px solid rgb(197, 197, 197);
    }

    .icon {
        color: #F5DF4D !important;
    }

    .one {
        order: 0;
    }
}

@keyframes shows {
    0% {
        height: 0rem;
    }

    100% {
        height: 5rem;
    }
}
@keyframes showsy {
    0% {
        height: 3rem;
        background-color: transparent;
        filter: brightness(0.0);
    }

    25% {
        height: 6rem;
        filter: brightness(0.1);
    }
    20% {
        height: 9rem;
        background-color: transparent;
        filter: brightness(0.2);

    }
    20% {
        height: 12rem;
        filter: brightness(0.3);

    }
    30% {
        height: 15rem;
 
        background-color: transparent;
        filter: brightness(0.4);
    }
    50% {
        height: 17rem;
        background-color: transparent;
        filter: brightness(0.5);

    }
    75% {
        height: 18rem;
        background-color: transparent;
        filter: brightness(0.6);
    }
    80% {
        height: 19rem;
        filter: brightness(0.7);
    }
    90% {
       background-color: transparent;
       filter: brightness(0.8);
    }
    95% {
        background-color: transparent;
        filter: brightness(0.9);
    }
    100% {
        height: 20rem;
        filter: brightness(1);
    }
}
@keyframes shows {
    0% {
        height: 0rem;
    }

    100% {
        height: 5rem;
    }
}
@keyframes showicons {
    0% {
        height: 0.5rem;
        background-color: transparent;
        filter: brightness(0.0);
    }

    25% {
        height: 0.7rem;
        filter: brightness(0.1);
    }
    20% {
        height: 1rem;
        background-color: transparent;
        filter: brightness(0.2);

    }
    20% {
        height: 1.5rem;
        filter: brightness(0.3);

    }
    30% {
        height: 1.7rem;
 
        background-color: transparent;
        filter: brightness(0.4);
    }
    50% {
        height: 2rem;
        background-color: transparent;
        filter: brightness(0.5);

    }
    75% {
        height: 2.5rem;
        background-color: transparent;
        filter: brightness(0.6);
    }
    80% {
        height: 2.7rem;
        filter: brightness(0.7);
    }
    90% {
        height: 3.5rem;
       background-color: transparent;
       filter: brightness(0.8);
    }
    95% {
        height: 5rem;
        background-color: transparent;
        filter: brightness(0.9);
    }
    100% {
        height: 6rem;
        filter: brightness(1);
    }
}